<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thegentle.oldhealth.Mapper.UserMapper">

<!--    //注册用户-->
    <insert id="register">
        insert into users(username,password,name,gender,age,phone,email,health_record_number,role,status,created_at,updated_at,register_time)
        values(#{username},#{password},#{name},#{gender},#{age},#{phone},#{email},#{healthRecordNumber},#{role},#{status},#{createdAt},#{updatedAt},#{registerTime})
    </insert>

    <!--    //添加用户基本信息-->
    <insert id="addUser">
        insert into users(username,password,name,gender,age,phone,email,health_record_number,role,status,created_at,updated_at,register_time)
        values(#{username},#{password},#{name},#{gender},#{age},#{phone},#{email},#{healthRecordNumber},#{role},#{status},#{createdAt},#{updatedAt},#{registerTime})
    </insert>

    <!--    //修改用户-->
    <update id="updateUser">
     update users
     <set>
         <if test="username != null and username!=''">
            username = #{username},
        </if>
         <if test="password != null and password!=''">
            password = #{password},
        </if>
         <if test="name != null and name!=''">
            name = #{name},
        </if>
          <if test="gender != null and gender!=''">
              gender = #{gender},
          </if>
         <if test="age != null and age!=''">
            age = #{age},
        </if>
          <if test="phone != null and phone!=''">
              phone = #{phone},
          </if>
         <if test="email != null and email!=''">
            email = #{email},
        </if>
          <if test="healthRecordNumber != null and healthRecordNumber!=''">
              health_record_number = #{healthRecordNumber},
          </if>
         <if test="role != null and role!=''">
            role = #{role},
        </if>
          <if test="status != null and status!=''">
              status = #{status},
          </if>
         updated_at = #{updatedAt},
     </set>
        where id = #{id}

    </update>
    <!-- 删除用户 -->
    <delete id="deleteUser">
        delete from users where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
<!--    //获取用户列表-->
    <select id="getUserList" resultType="com.thegentle.oldhealth.pojo.User.User">
        select id,username,name,role,gender,age,phone,email,health_record_number,status from users
        <where>
            <if test="username!=null and username!=''">
                username like '%${username}%'
            </if>
            <if test="phone!=null and phone!=''">
                and phone like '%${phone}%'
            </if>
            <if test="email!=null and email!=''">
                and email like '%${email}%'
            </if>
            <if test="role!=null and role!=''">
                and role=#{role}
            </if>
            <if test="status!=null and status!=''">
                and status=#{status}
            </if>
            <if test="begin!=null and begin!=''">
                and created_at&gt;=#{begin}
            </if>
            <if test="end!=null and end!=''">
                and created_at&lt;=#{end}
            </if>
        </where>
    </select>
</mapper>